/* Define variables for color palette */
:root {
  --backgroundlight: #feffdf;
  --lightyellow: #ffe79a;
  --orange: #ffa952;
  --backgroundred: #ef5a5a;
}
/* ----Global style ---- */
* {
  box-sizing: border-box;
}

body {
  max-width: 1800px;
  font-family: Arial;
  margin: 0;
}

/* ----Header done---- */
header {
  padding: 40px;
  text-align: center;
  background: var(--backgroundred);
  color: #fff;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
}

header h1 {
  font-size: 50px;
}

header p {
  font-size: 30px;
}

header .middle {
  color: var(--lightyellow);
}

/* ----Navigation bar---- */
nav {
  background-color: var(--backgroundred);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.links {
  display: block;
  color: var(--lightyellow);
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.links:hover {
  color: var(--backgroundred);
  background-color: var(--lightyellow);
}

/* ----Main part---- */
main {
  display: flex;
  flex-wrap: wrap;
}

/* ----Aside style---- */
aside {
  flex: 1;
  background-color: var(--lightyellow);
  padding: 20px;
  border-right: 10px solid var(--backgroundred);
  font-family: fantasy;
}

button {
  background-color: var(--orange);
  border: none;
  border-radius: 1rem;
  color: black;
  font-style: italic;
  font-weight: bolder;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 10px 10px 8px var(--backgroundlight);
}

button:hover {
  opacity: 0.8;
}

.sidehover {
  padding: 20px;
  border-radius: 1rem;
}

.sidehover:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--backgroundlight),
    var(--orange)
  );
}

.asideimg {
  background-color: #fff;
  width: 300px;
  height: 230px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 1rem;
}

/* ----Section style---- */
section {
  flex: 3;
  background-color: var(--lightyellow);
  padding: 20px;
}

.job-item {
  padding: 100px;
  border: none;
  border-radius: 20px;
  margin: 50px;
  background-image: linear-gradient(
    to bottom right,
    var(--backgroundlight),
    var(--backgroundred)
  );
}

.job-item:hover {
  opacity: 0.8;
}

.job-list {
  text-align: center;
}

.job-list h2 {
  font-family: cursive;
  font-weight: bolder;
  color: black;
  text-shadow: 2px 2px var(--backgroundlight);
}

.job-list ul {
  list-style-type: none;
  font-size: 25px;
}

.job-list ul li {
  padding: 2px;
}

.sample-img-left {
  float: left;
  background-color: #fff;
  width: 300px;
  height: 200px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 1rem;
}

.sample-img-left:hover {
  width: 400px;
  height: 265px;
}

.sample-img-right {
  float: right;
  background-color: #fff;
  width: 300px;
  height: 200px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 1rem;
}

.sample-img-right:hover {
  width: 400px;
  height: 265px;
}

/*---- Footer style---*/
footer {
  padding: 20px;
  text-align: center;
  background: var(--backgroundred);
  color: var(--lightyellow);
}

footer h3 {
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  font-size: 45px;
}

footer p {
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Satisfy", cursive;
  font-size: 20px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--lightyellow);
}

.contact-list a {
  padding: 15px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: 2px solid var(--lightyellow);
  border-radius: 2rem;
  margin: 20px;
  box-shadow: 10px 10px 8px var(--lightyellow);
}

.contact-list a:hover {
  opacity: 0.7;
}

/*--- Media queries for responsive design---*/
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }

  section {
    order: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    padding: 0;
  }

  .job-item {
    margin: 50px;
    padding: 50px;
  }

  .job-item img {
    text-align: center;
  }

  aside {
    border-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .job-item {
    padding: 10px;
    margin: 10px;
  }
  .sample-img-left,
  .sample-img-right {
    float: none;
    background-color: #fff;
    width: 200px;
    height: 126px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 1rem;
  }
}
