:root {
  --background: #e7eaf6;
  --mediumlight: #a2a8d3;
  --mediumdark: #38598b;
  --dark: #113f67;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background-color: var(--dark); */
  background-image: url(../images/header-background.jpg);
  color: #ffffff;
  margin: 0 40px 0 40px;
}

h1 {
  display: inline-block;
  font-size: 48px;
  font-family: "Caveat", cursive;
  font-weight: bold;
}

h1 .zhu {
  color: #d9dcd6;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  margin-left: -30px;
}

a:hover {
  color: var(--dark);
  background-color: var(--background);
}

p {
  font-size: 16px;
}

/* .hero {
  clear: both;
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(../images/coding-student-background.jpg);
  background-size: cover;
  background-position: center;
} */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

section {
  width: 70%;
  display: block;
  margin: 40px;
  float: right;
}

aside {
  margin: 40px 0 40px 40px;
  padding: 10px;
  float: left;
  width: 25%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--mediumlight);
}

.benefitsection {
  margin-bottom: 76px;
  color: #ffffff;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefitsection img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--mediumdark);
  color: #ffffff;
}

.content img {
  max-height: 200px;
  /* max-width: 400px; */
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

footer {
  padding: 30px;
  margin: 0 40px 0 40px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: var(--dark);
  color: var(--background);
}

footer h2 {
  font-size: 40px;
  font-family: "Caveat", cursive;
}
